#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1 VERSIONINFO
    FILEVERSION     0,4,2,0
    PRODUCTVERSION  0,4,2,0
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_DLL
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0
    FILEFLAGS       0
{
    BLOCK "StringFileInfo" {
		BLOCK "040904B0" {
			VALUE "ProductName", "Yaimp"
			VALUE "OriginalFilename", "yaimp.dll"
			VALUE "FileDescription", "Yandex music integration plugin for Aimp"
			VALUE "CompanyName", "Vedblade"
			VALUE "FileVersion", "0.4.2.0"
			VALUE "InternalName", "yaimp"
			VALUE "ProductVersion", "0.4.2.0"
		}
	}
}
